In [2]:
import numpy as np
data=np.random.randint(10,20,30)
data

array([13, 10, 19, 17, 19, 14, 12, 15, 19, 14, 15, 16, 12, 16, 14, 10, 11,
       12, 11, 12, 14, 17, 18, 17, 17, 13, 12, 10, 15, 11], dtype=int32)

In [5]:
import numpy as np
print(np.__version__)

2.3.5

In [6]:
import pandas as pd
print(pd.__version__)

2.3.3

In [7]:
pwd

'd:\\python'

In [9]:
import pandas as pd
data=pd.read_excel(r'D:\car analysis.xlsx')
data

,Car ID,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model
0,1,Tesla,2016,2.3,Petrol,Manual,114832,New,26613.92,Model X
1,2,BMW,2018,4.4,Electric,Manual,143190,Used,14679.61,5 Series
2,3,Audi,2013,4.5,Electric,Manual,181601,New,44402.61,A4
3,4,Tesla,2011,4.1,Diesel,Automatic,68682,New,86374.33,Model Y
4,5,Ford,2009,2.6,Diesel,Manual,223009,Like New,73577.10,Mustang
...,...,...,...,...,...,...,...,...,...,...
2495,2496,Audi,2020,2.4,Petrol,Automatic,22650,Like New,61384.10,Q5
2496,2497,Audi,2001,5.7,Hybrid,Manual,77701,Like New,24710.35,A3
2497,2498,Ford,2021,1.1,Hybrid,Manual,272827,Like New,29902.45,Fiesta
2498,2499,Audi,2002,4.5,Diesel,Manual,229164,Like New,46085.67,Q5
2499,2500,Toyota,2005,4.6,Diesel,Automatic,80978,Used,16594.14,RAV4

In [10]:
data.columns

Index(['Car ID', 'Brand', 'Year', 'Engine Size', 'Fuel Type', 'Transmission',
       'Mileage', 'Condition', 'Price', 'Model'],
      dtype='object')

In [11]:
data.dtypes

Car ID            int64
Brand            object
Year              int64
Engine Size     float64
Fuel Type        object
Transmission     object
Mileage           int64
Condition        object
Price           float64
Model            object
dtype: object

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Car ID        2500 non-null   int64
 1   Brand         2500 non-null   object
 2   Year          2500 non-null   int64
 3   Engine Size   2500 non-null   float64
 4   Fuel Type     2500 non-null   object
 5   Transmission  2500 non-null   object
 6   Mileage       2500 non-null   int64
 7   Condition     2500 non-null   object
 8   Price         2500 non-null   float64
 9   Model         2500 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 195.4+ KB

In [13]:
data.shape

(2500, 10)

In [14]:
data.head(9)

,Car ID,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model
0,1,Tesla,2016,2.3,Petrol,Manual,114832,New,26613.92,Model X
1,2,BMW,2018,4.4,Electric,Manual,143190,Used,14679.61,5 Series
2,3,Audi,2013,4.5,Electric,Manual,181601,New,44402.61,A4
3,4,Tesla,2011,4.1,Diesel,Automatic,68682,New,86374.33,Model Y
4,5,Ford,2009,2.6,Diesel,Manual,223009,Like New,73577.10,Mustang
5,6,Audi,2019,2.4,Diesel,Automatic,246553,Like New,88969.76,Q7
6,7,Audi,2020,4.0,Electric,Automatic,135486,Used,63498.75,Q5
7,8,Tesla,2017,5.3,Hybrid,Automatic,83030,New,17381.19,Model Y
8,9,Honda,2023,5.7,Electric,Manual,120360,Like New,15905.62,Civic

In [15]:
data.tail(10)

,Car ID,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model
2490,2491,Audi,2018,2.4,Hybrid,Manual,146539,Used,98434.45,Q5
2491,2492,Toyota,2019,4.2,Hybrid,Manual,75955,New,28041.25,Prius
2492,2493,Tesla,2002,2.7,Petrol,Manual,147748,New,66352.03,Model X
2493,2494,Ford,2014,6.0,Diesel,Automatic,94791,New,33847.10,Focus
2494,2495,Mercedes,2001,2.3,Petrol,Manual,162586,Used,90378.98,E-Class
2495,2496,Audi,2020,2.4,Petrol,Automatic,22650,Like New,61384.10,Q5
2496,2497,Audi,2001,5.7,Hybrid,Manual,77701,Like New,24710.35,A3
2497,2498,Ford,2021,1.1,Hybrid,Manual,272827,Like New,29902.45,Fiesta
2498,2499,Audi,2002,4.5,Diesel,Manual,229164,Like New,46085.67,Q5
2499,2500,Toyota,2005,4.6,Diesel,Automatic,80978,Used,16594.14,RAV4

In [16]:
data[["Brand", "Price", "Year"]].head(20)

       Brand     Price  Year
0      Tesla  26613.92  2016
1        BMW  14679.61  2018
2       Audi  44402.61  2013
3      Tesla  86374.33  2011
4       Ford  73577.10  2009
5       Audi  88969.76  2019
6       Audi  63498.75  2020
7      Tesla  17381.19  2017
8      Honda  15905.62  2023
9       Ford   9560.22  2010
10     Tesla  58872.60  2001
11      Ford  28074.19  2017
12      Ford  74766.45  2006
13      Audi  70193.74  2023
14       BMW  35220.52  2014
15      Ford  21796.16  2010
16  Mercedes  14728.03  2017
17      Audi  75044.95  2022
18     Honda  47791.89  2011
19       BMW  35735.34  2005

In [17]:
data.isnull()

,Car ID,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
2495,False,False,False,False,False,False,False,False,False,False
2496,False,False,False,False,False,False,False,False,False,False
2497,False,False,False,False,False,False,False,False,False,False
2498,False,False,False,False,False,False,False,False,False,False
2499,False,False,False,False,False,False,False,False,False,False

In [18]:
data.iloc[1:15, 3:10]

    Engine Size Fuel Type Transmission  Mileage Condition     Price     Model
1           4.4  Electric       Manual   143190      Used  14679.61  5 Series
2           4.5  Electric       Manual   181601       New  44402.61        A4
3           4.1    Diesel    Automatic    68682       New  86374.33   Model Y
4           2.6    Diesel       Manual   223009  Like New  73577.10   Mustang
5           2.4    Diesel    Automatic   246553  Like New  88969.76        Q7
6           4.0  Electric    Automatic   135486      Used  63498.75        Q5
7           5.3    Hybrid    Automatic    83030       New  17381.19   Model Y
8           5.7  Electric       Manual   120360  Like New  15905.62     Civic
9           1.5  Electric    Automatic   135009  Like New   9560.22  Explorer
10          1.8    Diesel    Automatic   298875  Like New  58872.60   Model 3
11          5.7  Electric    Automatic   169737      Used  28074.19   Mustang
12          4.7    Petrol    Automatic   114360       New  74766.45    Fiesta
13          5.4  Electric    Automatic   263894  Like New  70193.74        Q7
14          2.0  Electric    Automatic    65018       New  35220.52        X3

In [19]:
data.describe()

           Car ID       Year  Engine Size        Mileage         Price
count  2500.00000  2500.0000  2500.000000    2500.000000   2500.000000
mean   1250.50000  2011.6268     3.465240  149749.844800  52638.022532
std     721.83216     6.9917     1.432053   87919.952034  27295.833455
min       1.00000  2000.0000     1.000000      15.000000   5011.270000
25%     625.75000  2005.0000     2.200000   71831.500000  28908.485000
50%    1250.50000  2012.0000     3.400000  149085.000000  53485.240000
75%    1875.25000  2018.0000     4.700000  225990.500000  75838.532500
max    2500.00000  2023.0000     6.000000  299967.000000  99982.590000

In [21]:
sorted(data["Brand"].unique())

['Audi', 'BMW', 'Ford', 'Honda', 'Mercedes', 'Tesla', 'Toyota']

In [22]:
data["new_col"]="india"

In [23]:
data.head(20)

,Car ID,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model,new_col
0,1,Tesla,2016,2.3,Petrol,Manual,114832,New,26613.92,Model X,india
1,2,BMW,2018,4.4,Electric,Manual,143190,Used,14679.61,5 Series,india
2,3,Audi,2013,4.5,Electric,Manual,181601,New,44402.61,A4,india
3,4,Tesla,2011,4.1,Diesel,Automatic,68682,New,86374.33,Model Y,india
4,5,Ford,2009,2.6,Diesel,Manual,223009,Like New,73577.10,Mustang,india
5,6,Audi,2019,2.4,Diesel,Automatic,246553,Like New,88969.76,Q7,india
6,7,Audi,2020,4.0,Electric,Automatic,135486,Used,63498.75,Q5,india
7,8,Tesla,2017,5.3,Hybrid,Automatic,83030,New,17381.19,Model Y,india
8,9,Honda,2023,5.7,Electric,Manual,120360,Like New,15905.62,Civic,india
9,10,Ford,2010,1.5,Electric,Automatic,135009,Like New,9560.22,Explorer,india
10,11,Tesla,2001,1.8,Diesel,Automatic,298875,Like New,58872.60,Model 3,india
11,12,Ford,2017,5.7,Electric,Automatic,169737,Used,28074.19,Mustang,india
12,13,Ford,2006,4.7,Petrol,Automatic,114360,New,74766.45,Fiesta,india
13,14,Audi,2023,5.4,Electric,Automatic,263894,Like New,70193.74,Q7,india
14,15,BMW,2014,2.0,Electric,Automatic,65018,New,35220.52,X3,india
15,16,Ford,2010,3.9,Electric,Automatic,240904,Used,21796.16,Mustang,india
16,17,Mercedes,2017,4.5,Electric,Automatic,136817,New,14728.03,GLA,india
17,18,Audi,2022,4.4,Hybrid,Automatic,192803,Like New,75044.95,A3,india
18,19,Honda,2011,3.0,Electric,Automatic,86984,New,47791.89,Civic,india
19,20,BMW,2005,1.1,Petrol,Automatic,290595,New,35735.34,X5,india

In [24]:
data[data["Price"] > 50000]
data[(data["Brand"] == "BMW") & (data["Price"] < 40000)]

,Car ID,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model,new_col
1,2,BMW,2018,4.4,Electric,Manual,143190,Used,14679.61,5 Series,india
14,15,BMW,2014,2.0,Electric,Automatic,65018,New,35220.52,X3,india
19,20,BMW,2005,1.1,Petrol,Automatic,290595,New,35735.34,X5,india
38,39,BMW,2014,4.6,Hybrid,Manual,229707,Like New,21471.98,X3,india
45,46,BMW,2017,1.5,Hybrid,Automatic,87945,Like New,16167.56,5 Series,india
...,...,...,...,...,...,...,...,...,...,...,...
2374,2375,BMW,2020,1.7,Petrol,Automatic,256055,Like New,7630.54,3 Series,india
2430,2431,BMW,2008,3.8,Hybrid,Manual,99854,Used,8569.42,3 Series,india
2451,2452,BMW,2023,4.2,Petrol,Manual,247795,New,7093.72,X3,india
2458,2459,BMW,2001,4.2,Hybrid,Manual,31335,Used,29507.23,5 Series,india
2488,2489,BMW,2019,1.6,Petrol,Automatic,222129,Like New,16102.78,X3,india

In [25]:
data.dropna()

,Car ID,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model,new_col
0,1,Tesla,2016,2.3,Petrol,Manual,114832,New,26613.92,Model X,india
1,2,BMW,2018,4.4,Electric,Manual,143190,Used,14679.61,5 Series,india
2,3,Audi,2013,4.5,Electric,Manual,181601,New,44402.61,A4,india
3,4,Tesla,2011,4.1,Diesel,Automatic,68682,New,86374.33,Model Y,india
4,5,Ford,2009,2.6,Diesel,Manual,223009,Like New,73577.10,Mustang,india
...,...,...,...,...,...,...,...,...,...,...,...
2495,2496,Audi,2020,2.4,Petrol,Automatic,22650,Like New,61384.10,Q5,india
2496,2497,Audi,2001,5.7,Hybrid,Manual,77701,Like New,24710.35,A3,india
2497,2498,Ford,2021,1.1,Hybrid,Manual,272827,Like New,29902.45,Fiesta,india
2498,2499,Audi,2002,4.5,Diesel,Manual,229164,Like New,46085.67,Q5,india
2499,2500,Toyota,2005,4.6,Diesel,Automatic,80978,Used,16594.14,RAV4,india

In [26]:
data.fillna(0)

,Car ID,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model,new_col
0,1,Tesla,2016,2.3,Petrol,Manual,114832,New,26613.92,Model X,india
1,2,BMW,2018,4.4,Electric,Manual,143190,Used,14679.61,5 Series,india
2,3,Audi,2013,4.5,Electric,Manual,181601,New,44402.61,A4,india
3,4,Tesla,2011,4.1,Diesel,Automatic,68682,New,86374.33,Model Y,india
4,5,Ford,2009,2.6,Diesel,Manual,223009,Like New,73577.10,Mustang,india
...,...,...,...,...,...,...,...,...,...,...,...
2495,2496,Audi,2020,2.4,Petrol,Automatic,22650,Like New,61384.10,Q5,india
2496,2497,Audi,2001,5.7,Hybrid,Manual,77701,Like New,24710.35,A3,india
2497,2498,Ford,2021,1.1,Hybrid,Manual,272827,Like New,29902.45,Fiesta,india
2498,2499,Audi,2002,4.5,Diesel,Manual,229164,Like New,46085.67,Q5,india
2499,2500,Toyota,2005,4.6,Diesel,Automatic,80978,Used,16594.14,RAV4,india

Group by

In [27]:
data.groupby("Brand")["Price"].mean()

Brand
Audi        51953.424810
BMW         54157.114385
Ford        51593.254813
Honda       52050.283949
Mercedes    53191.090085
Tesla       53475.547471
Toyota      52078.728235
Name: Price, dtype: float64

In [49]:
data.groupby("Brand")["Price"].sum()

Brand
Audi        19118860.33
BMW         19388246.95
Ford        17902859.42
Honda       18321699.95
Mercedes    18776454.80
Tesla       18609490.52
Toyota      19477444.36
Name: Price, dtype: float64

In [29]:
data.groupby("Brand").agg({"Price":["mean", "max", "min"]})

                 Price
                  mean       max      min
Brand
Audi      51953.424810  99982.59  5011.27
BMW       54157.114385  99968.62  5107.22
Ford      51593.254813  99605.33  5247.71
Honda     52050.283949  99578.74  5060.75
Mercedes  53191.090085  99754.42  5353.03
Tesla     53475.547471  99905.90  5343.23
Toyota    52078.728235  99400.47  5472.39

Adding & Modifying Columns

In [35]:
data.drop("Engine Size",axis=1)

,Car ID,Brand,Year,Fuel Type,Transmission,Mileage,Condition,Price,Model,new_col
0,1,Tesla,2016,Petrol,Manual,114832,New,26613.92,Model X,india
1,2,BMW,2018,Electric,Manual,143190,Used,14679.61,5 Series,india
2,3,Audi,2013,Electric,Manual,181601,New,44402.61,A4,india
3,4,Tesla,2011,Diesel,Automatic,68682,New,86374.33,Model Y,india
4,5,Ford,2009,Diesel,Manual,223009,Like New,73577.10,Mustang,india
...,...,...,...,...,...,...,...,...,...,...
2495,2496,Audi,2020,Petrol,Automatic,22650,Like New,61384.10,Q5,india
2496,2497,Audi,2001,Hybrid,Manual,77701,Like New,24710.35,A3,india
2497,2498,Ford,2021,Hybrid,Manual,272827,Like New,29902.45,Fiesta,india
2498,2499,Audi,2002,Diesel,Manual,229164,Like New,46085.67,Q5,india
2499,2500,Toyota,2005,Diesel,Automatic,80978,Used,16594.14,RAV4,india

Adding & Modifying Columns

In [36]:
data["discountprice"]=data["Price"]*0.9

In [37]:
data.head(10)

,Car ID,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model,new_col,discountprice
0,1,Tesla,2016,2.3,Petrol,Manual,114832,New,26613.92,Model X,india,23952.528
1,2,BMW,2018,4.4,Electric,Manual,143190,Used,14679.61,5 Series,india,13211.649
2,3,Audi,2013,4.5,Electric,Manual,181601,New,44402.61,A4,india,39962.349
3,4,Tesla,2011,4.1,Diesel,Automatic,68682,New,86374.33,Model Y,india,77736.897
4,5,Ford,2009,2.6,Diesel,Manual,223009,Like New,73577.10,Mustang,india,66219.390
5,6,Audi,2019,2.4,Diesel,Automatic,246553,Like New,88969.76,Q7,india,80072.784
6,7,Audi,2020,4.0,Electric,Automatic,135486,Used,63498.75,Q5,india,57148.875
7,8,Tesla,2017,5.3,Hybrid,Automatic,83030,New,17381.19,Model Y,india,15643.071
8,9,Honda,2023,5.7,Electric,Manual,120360,Like New,15905.62,Civic,india,14315.058
9,10,Ford,2010,1.5,Electric,Automatic,135009,Like New,9560.22,Explorer,india,8604.198

In [ ]:
data["PriceCategory"]=np.where(data["Price"]>500000, "High","Low")

In [46]:
data.head(10)

,Car ID,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model,new_col,discountprice,PriceCategory
0,1,Tesla,2016,2.3,Petrol,Manual,114832,New,26613.92,Model X,india,23952.528,Low
1,2,BMW,2018,4.4,Electric,Manual,143190,Used,14679.61,5 Series,india,13211.649,Low
2,3,Audi,2013,4.5,Electric,Manual,181601,New,44402.61,A4,india,39962.349,Low
3,4,Tesla,2011,4.1,Diesel,Automatic,68682,New,86374.33,Model Y,india,77736.897,Low
4,5,Ford,2009,2.6,Diesel,Manual,223009,Like New,73577.10,Mustang,india,66219.390,Low
5,6,Audi,2019,2.4,Diesel,Automatic,246553,Like New,88969.76,Q7,india,80072.784,Low
6,7,Audi,2020,4.0,Electric,Automatic,135486,Used,63498.75,Q5,india,57148.875,Low
7,8,Tesla,2017,5.3,Hybrid,Automatic,83030,New,17381.19,Model Y,india,15643.071,Low
8,9,Honda,2023,5.7,Electric,Manual,120360,Like New,15905.62,Civic,india,14315.058,Low
9,10,Ford,2010,1.5,Electric,Automatic,135009,Like New,9560.22,Explorer,india,8604.198,Low

In [47]:
data.groupby("Fuel Type").count()

,Car ID,Brand,Year,Engine Size,Transmission,Mileage,Condition,Price,Model,new_col,discountprice,PriceCategory
Fuel Type,,,,,,,,,,,,
Diesel,655,655,655,655,655,655,655,655,655,655,655,655
Electric,614,614,614,614,614,614,614,614,614,614,614,614
Hybrid,601,601,601,601,601,601,601,601,601,601,601,601
Petrol,630,630,630,630,630,630,630,630,630,630,630,630